@charset "utf-8";
/* CSS Document */
html,body { font-family: Arial,Tahoma,Verdada,Helvetica,sans-serif; color: #555354; background-color:#FFF; font-size:14px;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
* { margin: 0px auto; padding: 0px;}
img{ border:0;}
.fleft{ float:left;}
.fright{ float:right;}
ul,li{ list-style:none;}
h1 {font-size: 18px}h2 {font-size: 16px}h3 {font-size: 14px}h1 {	font-weight: bold}h2 {font-weight: bold}h3 {font-weight: bold}h4 {	font-weight: bold}h5 {font-weight: bold}h6 {font-weight: bold}strong {	font-weight: bold}
input {	font-family: inherit}buttom {	font-family: inherit}textarea {	font-family: inherit}select {	font-family: inherit}
.sys_input {border:solid 1px #C2C2C2; line-height:17px; height:17px; background:#fff;}
.btn_login {width:auto;padding-left:5px;padding-right:5px;border:solid 1px #C2C2C2;height:19px; line-height:19px;background-color:#F2F2F2;cursor:pointer;}
.reglink {text-decoration:underline;color:#C72906;}
.warp {width:950px;margin-left:auto;margin-right:auto;}
.clear{ clear:both;}
.orage{ color:#f60;}
.red{ color:#f00; font-size:14px;}
.red a{ color:#f00; text-decoration:none;}
	.red a:hover{ color:#f00; text-decoration:underline;}
.solid_b{ border-bottom:solid 1px #d1ecc3;}
.dashed_b{ border-bottom:dashed 1px #ccc;}
.ad950 {width:950px;margin-left:auto;margin-right:auto;padding-bottom:10px;}
/* page */
.page{ width:640px; margin-left:auto; margin-right:auto; text-align:center; font-size:12px; margin-top:10px; height:35px;}
	.page span{ padding:3px; padding-top:2px; padding-bottom:2px; line-height:30px; margin-left:3px; margin-right:3px; height:30px;}
	.page .def{ background:#fff; border:solid 1px #eee; color:#e1dddc;}
	.page .hover{ background:#dffac5; border:solid 1px #438700; color:#000; padding-left:5px; padding-right:5px;}
	.page .uni{ background:#f7f7f7; border:solid 1px #d7d7d7; color:#000; padding-left:5px; padding-right:5px;}
	.page span a{ color:#000; text-decoration:none;}
	.page span a:hover{ color:#000; text-decoration:none;}
/* 信息列表 */
.box_big{ width:640px; margin-bottom:10px;}
.box_small{ width:300px; margin-bottom:10px;}
/* 网站导航 */
/* web nav */
.web_nav{ width:auto; background: url(../images/ly/webnav_02.jpg) no-repeat 10px center; height:30px; line-height:30px; padding-left:30px; color:#717171; font-size:14px; margin-bottom:10px;}
	.web_nav a{ color:#53a100;}
	.web_nav a:hover{ color:#f60;}
	.web_nav a.org{ color:#f60;}
	.web_nav a.org:hover{ color:#f60;}
/* topnav */
.topnav{ background:url(../images/ly/navbg01.gif) repeat-x left top; width:auto; height:33px; text-align:left; line-height:33px; padding-left:15px; font-size:12px;}
	.topcontent {width:950px;margin-left:auto;margin-right:auto;}
	.topcontent a{ color:#404040; text-decoration:none;}
	.topcontent a:hover{color:#f60; text-decoration: underline;}
	.topcontent a.arrow{ background:url(../images/date/jt_545.gif) no-repeat right center; padding-right:16px;}
	.topnav span{ float:right; text-align:left; margin-right:15px;}
	.topnav img{ margin-top:7px;}
/* logo & ad */
.logo_ad {padding-top:8px;padding-bottom:8px;border-bottom:solid 1px #CCCCCC; background:#fff;}
	.logo {float:left; width:386px; height:60px;background:url(../images/ly/logo.gif) no-repeat left top;}
		.logo a {display:block;width:386px;height:60px;text-indent:-9999px;}
	.ad468 {float:right;width:468px;height:60px;}
.nav{ background:url(../images/ly/nav_bg.jpg) repeat-x left top; height:46px; margin-top:10px;}
	.nav span.left{ background:url(../images/ly/nav_left.jpg) no-repeat left top; width:211px; float:left; height:46px;}
	.nav span.right{ background: url(../images/ly/nav_right.jpg) no-repeat left top; width:42px; float:right; height:46px;}
	.nav ul{ padding-top:10px; width:690px;}
	.nav ul li{ width:72px; line-height:37px; height:32px; font-size:14px; color:#636363;display:inline; text-align:center; margin-right:4px; float:left;}
	.nav ul li a{ color:#636363; text-decoration:none; font-size:14px; width:72px;  float:left;}
	.nav ul li a:hover{ background:url(../images/ly/nav_hover.jpg) no-repeat left top; width:72px; line-height:32px; height:32px; color:#fff; text-align:center; font-size:14px; font-weight:bold; text-decoration:none;}
	.nav ul li.hover{ background:url(../images/ly/nav_hover.jpg) no-repeat left top; float:left; width:72px; line-height:32px; height:32px; color:#fff; font-weight:bold;  text-align:center;}
	.nav ul li.hover a{ background:url(../images/ly/nav_hover.jpg) no-repeat left top; float:left; width:72px; line-height:32px; height:32px; color:#fff; font-weight:bold;  text-align:center;}
/* search */
.search{ background:url(../images/ly/search_bg.jpg) repeat-x left top; height:78px; margin-top:10px; margin-bottom:10px;}
	.search span.left{ background:url(../images/ly/search_left.jpg) no-repeat left top; height:78px; float:left; width:8px;}
	.search span.right{ background:url(../images/ly/search_right.jpg) no-repeat left top; height:78px; float:right; width:8px;}
.search_box{ height:39px; background: url(../images/ly/search_icon.jpg) no-repeat left 3px; margin-left:8px; padding-left:40px; padding-top:8px;}
	.search_box span.text_box{ background: url(../images/ly/text_box.jpg) repeat-x left top; height:23px; border:solid 1px #dcdcdc; height:23px; line-height:23px; padding-left:3px; padding-right:3px; font-size:12px; color:#666; width:220px; margin-right:10px;}
	.search_box span.text_box input{ border:none; background:none; height:23px; line-height:23px;}
	.search_box .btn{ background:url(../images/ly/search_btn.jpg) no-repeat left top; height:24px; width:77px; text-align:center; font-size:14px; font-weight:bold; color:#fff; border:none; cursor:pointer;}
.reci{  margin-left:8px; font-size:12px; margin-top:5px;}
	.reci a{ text-decoration:none; margin-left:5px; margin-right:5px; color:#666;}
	.reci a:hover{ text-decoration:none; color:#f60;}
	.reci strong{ font-size:14px;}
.big_box{ width:585px; float:left; margin-top:10px;}
.list_box{ border-bottom:dashed 1px #a0a0a0; padding-bottom:10px; margin-bottom:10px;}
.list_box ul.news_loupan li{font-size:12px; width:110px; margin-left:3px; margin-right:3px; display:inline; background:none; padding:0px; margin-top:5px; line-height:17px; float:left;}
.list_box ul.news_loupan li a{ color:#666; text-decoration:none;}
.list_box ul.news_loupan li a:hover{ color:#f60; text-decoration:none;}
.list_box ul.news_loupan li span{ width:110px; float:left; margin-bottom:3px;}
.list_box ul.news_loupan li span .img{ width:106px; padding:1px; border:solid 1px #709c00;}
.title_long{ background:url(../images/ly/title_bg.jpg) no-repeat left top; width:585px; height:23px; font-size:14px; font-weight:bold; color:#619504; line-height:23px;}
	.title_long .org{ color:#f60;}
	.title_long a{ color:#619504; text-decoration:none;}
	.title_long a:hover{ color:#619504; text-decoration: none;}
	.title_long span{ float:right; width:40px; height:23px; cursor:pointer;}
.list_ul{ width:585px; margin-top:10px;}
	.list_ul li{ width:260px; float:left; display:inline; background:url(../images/ly/li_bg.jpg) no-repeat 10px center; padding-left:20px; padding-right:7px; font-size:14px; line-height:24px; margin-right:5px;}
	.list_ul li a{ color:#666; text-decoration:none;}
	.list_ul li a:hover{ color:#f60; text-decoration:none;}
.hous_ul{ width:278px; display:inline; padding-right:7px; margin-bottom:0px;}
	*html .hous_ul{ margin-bottom:-10px;}
	*+html .hous_ul{ margin-bottom:-10px;}
	.hous_ul .title{ background:url(../images/ly/house_title.jpg) no-repeat right top; width:278px; height:26px; font-size:14px; font-weight:bold; color:#619504; padding-left:7px; line-height:26px;}
	.hous_ul .title a{ color:#619504; text-decoration:none;}
	.hous_ul .title a:hover{ color:#619504; text-decoration: none;}
	.hous_ul .title span{ float:right; width:40px; height:23px; cursor:pointer;}
	.hous_ul ul{ width:278px; margin-top:5px; margin-left:0px;}
	.hous_ul ul li{ width:265px; float:left; display:inline; background:url(../images/ly/li_bg.jpg) no-repeat 2px center; padding-left:12px; font-size:14px; line-height:24px; display:inline;}
	.hous_ul ul li a{ color:#666; text-decoration:none;}
	.hous_ul ul li a:hover{ color:#f60; text-decoration:none;}
ul.pic li{ width:110px; margin-left:14px; font-size:12px; margin-right:14px; display:inline; background:none; padding:0px; margin-top:5px; line-height:17px;}
ul.pic li span{ width:110px; float:left; margin-bottom:3px;}
ul.pic li span .img{ width:106px; padding:1px; border:solid 1px #709c00;}
.small_box{ width:345px; float:right; margin-top:10px;}
.box_right{ width:345px; margin-bottom:10px; height:165px;}
.small_title{ border-bottom:dashed 1px #9a9a9a; line-height:25px; font-size:14px; font-weight:bold; color:#76980d;}
	.small_title a{ color:#76980d; text-decoration:none;}
	.small_title a:hover{ color:#f60; text-decoration: underline;}
	.small_title span{ float:right; margin-right:10px; font-weight:normal; font-size:12px;}
	.small_title span a{ color:#51a100; text-decoration:none;}
	.small_title span a:hover{ color:#f60; text-decoration: underline;}
.box_right ul.pic{ margin-left:0px; width:345px; margin-top:5px;}
	.box_right ul.pic li{width:144px; margin-left:14px; margin-right:14px; display:inline; background:none; padding:0px;  line-height:17px; float:left;}
	.box_right ul.pic li a{ color:#666; text-decoration:none;}
	.box_right ul.pic li a:hover{ color:#f60; text-decoration:none;}
	.box_right ul.pic li span{ width:144px; float:left; margin-bottom:3px; text-align:center;}
	.box_right ul.pic li span .img{ width:136px; padding:1px; border:solid 1px #709c00;}
	.box_right ul{ width:345px; margin-top:5px; margin-left:0px;}
	.box_right ul li{ width:330px; float:left; display:inline; background:url(../images/ly/li_bg.jpg) no-repeat left center; padding-left:10px; font-size:14px; line-height:24px; margin-right:5px; display:inline;}
	.box_right ul li a{ color:#666; text-decoration:none;}
	.box_right ul li a:hover{ color:#f60; text-decoration:none;}
/* 园区管理 */
.park{ border: solid 1px #cdcdcd; border-top:solid 2px #9aba3b; padding:10px; width:930px; margin-bottom:10px;}
.park_title{ background:url(../images/ly/park_title.jpg) no-repeat left top; width:930px; font-size:14px; font-weight:bold; color:#629401; height:26px; line-height:26px;}
.park_title a{ color:#619504; text-decoration:none;}
	.park_title a:hover{ color:#619504; text-decoration: none;}
	.park_title span{ float:right; width:40px; height:23px; cursor:pointer;}
.park ul{ width:930px; margin-left:0px;}
	.park ul li{ float:left; display:inline; font:14px; color:#749c05; margin-left:10px; margin-right:10px; margin-top:10px; width:130px;}
	.park ul li a{ color:#749c05; text-decoration:none;}
	.park ul li a:hover{ color:#749c05; text-decoration: underline;}
	.park ul li strong{ color:#666;}
.slide{ width:580px; float:left;}
.news{ width:335px; float:left; background:url(../images/ly/news_bg.jpg) no-repeat left top; height:280px; padding-left:35px;}
	.news .title{ margin-left:25px; margin-top:8px; font-size:14px; font-weight:bold; color:#fff;}
	.news .imp{ border-bottom:dashed 1px #969696; padding-bottom:8px; margin-bottom:8px; font-size:12px; line-height:22px; color:#666;  margin-top:10px; margin-right:20px; margin-left:10px; padding-left:5px; padding-right:5px;}
	.news .imp h3{ padding-top:10px; font-size:16px; margin-bottom:5px; color:#f60; font-weight:bold; text-align:center;}
	.news .imp h3 a{ color:#f60; text-decoration:none;}
	.news .imp h3 a:hover{ color:#f60; text-decoration: underline;}
	.news ul{ margin-left:0px; margin-right:10px;}
	.news ul li{background: url(../images/ly/li_bg03.jpg) no-repeat 15px center; padding-left:25px; padding-right:7px; font-size:14px; line-height:26px; margin-right:5px;}
	.news ul li a{ color:#666; text-decoration:none;}
	.news ul li a:hover{ color:#f60; text-decoration: underline;}
/* 幻灯片 */
.div_xixi {BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 578px; POSITION: relative; HEIGHT: 268px; border:solid 1px #719505;}
.div_jimg {	MARGIN: 0px; WIDTH: 405px; HEIGHT: 268px}
.div_jimg #a_jimg {DISPLAY: block; WIDTH: 405px; HEIGHT: 268px}
.div_jimg #bigimg { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 403px; PADDING-TOP: 0px; HEIGHT: 268px}
.div_jimg .ul_jimg {PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; RIGHT: 0px; BACKGROUND: url(../images/ly/bg_j04.jpg) repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 225px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 0px; HEIGHT: 268px;}
.div_jimg .ul_jimg LI {DISPLAY: inline; FLOAT: right; OVERFLOW: hidden; WIDTH: 225px; CURSOR: pointer; WORD-BREAK: break-all; TEXT-INDENT: 30px; line-height:30px; PADDING-TOP: 14px; WHITE-SPACE: nowrap; HEIGHT: 40px; TEXT-OVERFLOW: ellipsis;}
.div_jimg .ul_jimg A {POSITION: relative; color:#000;}
	.div_jimg .ul_jimg A:hover{POSITION: relative; color:#fff;}
.div_jimg .ul_jimg .on {background-image:url(../images/ly/bg_j05.png)!important; BACKGROUND: none transparent scroll no-repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ly/bg_j05.png',sizingMethod='scale'); WIDTH: 225px; COLOR: #fff; POSITION: static;}
.div_jimg .ul_jimg .on A {FONT-WEIGHT: bold; COLOR: #fff}
/* foot */
.foot{ width:950px;border-top: solid 1px #cccccc; padding-top:10px;padding-bottom:10px;text-align:center;color:#333;margin-left:auto;margin-right:auto; font-size:12px; line-height:22px;}
	.foot a{ color:#404040;}
	.foot a:hover{color:#f60;}
/* 楼宇资讯 */
.pic_list{ width:100%; margin-bottom:10px;}
.pic_list ul{ margin-left:0px;}
	.pic_list ul li{width:144px; margin-left:8px; margin-right:8px; display:inline; background:none; padding:0px;  line-height:17px; float:left;}
	.pic_list ul li a{ color:#666; text-decoration:none;}
	.pic_list ul li a:hover{ color:#f60; text-decoration:none;}
	.pic_list ul li span{ width:144px; float:left; margin-bottom:3px; text-align:center;}
	.pic_list ul li span .img{ width:136px; height:102px; padding:1px; border:solid 1px #709c00;}
.info_title{ background: url(../images/ly/info_titlebg.jpg) repeat-x left top; height:26px; border-bottom: solid 1px #d1ecc3; padding-left:10px; padding-right:10px; font-size:14px; font-weight:bold; color:#54a200; line-height:26px;}
	.info_title span{ float:right; font-size:12px; font-weight:normal;}
	.info_title a{color:#54a200; text-decoration:none;}
	.info_title a:hover{color:#f60; text-decoration:none;}
.info_ul{ width:628px; margin:5px; display:inline; margin-top:5px; float:left;}
	.info_ul li{ margin-left:5px; margin-right:5px; line-height:24px; font-size:14px; color:#666; background:url(../images/ly/li_bg578.jpg) no-repeat left 8px; width:290px; float:left; display:inline; padding-left:12px;}
	.info_ul li a{ color:#666; text-decoration:none;}
	.info_ul li a:hover{ color:#f60; text-decoration:none;}
.box_bmargin{ margin-bottom:10px;}
.box_nbmargin{ margin-bottom:0px;}
.box_ntmargin{ margin-top:0px;}
.ad_640{ margin-bottom:10px;}
.dashed_line{ padding-bottom:5px; border-bottom:dashed 1px #ccc; margin-bottom:5px; float:left; width:100%;}
